<<<<<<< HEAD
@mixin answer($color){
    font-size: 9rem;
    border: 5px solid $color;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

@mixin card() {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
   // transform: $transform;
=======
@mixin icon($pic) {
    background: url($pic) no-repeat center;
    background-size: 85%;
    width: 150px;
    height: 150px;
    border: 5px solid #ddbf8a;
    border-radius: 20px;
}

@mixin card($transform) {
    display: flex;
    flex-direction: column;
    transform: $transform;
>>>>>>> 01b41c5... add:basic game
=======
    display: flex;
    flex-direction: column;
   // transform: $transform;
>>>>>>> d123f5b... add: mute from keys
}

@mixin caption() {
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
<<<<<<< HEAD
    font-style: italic;
}
@mixin cardAnimation($color){
    box-shadow: 1px 2px 17px 12px $color;
    animation: rotate-after 3s 0.1s linear infinite;
        @keyframes rotate-after {
        0% {transform: scaleX(1) scaleY(1);}
        50% {transform:  scaleX(1.1) scaleY(1.1);}
        100% {transform:  scaleX(1) scaleY(1);}
    }
    @keyframes rotate-before {
        0% {transform:  scaleX(1) scaleY(1);}
        50% {transform:  scaleX(0.95) scaleY(0.85);}
        100% {transform:  scaleX(1) scaleY(1);}
    }
}
=======
    margin-bottom: 1rem;
    font-style: italic;
}
<<<<<<< HEAD

>>>>>>> 01b41c5... add:basic game
=======
@mixin cardAnimation($color){
    box-shadow: 1px 2px 17px 12px $color;
    animation: rotate-after 3s 0.1s linear infinite;
        @keyframes rotate-after {
        0% {transform: scaleX(1) scaleY(1);}
        50% {transform:  scaleX(0.82) scaleY(0.95);}
        100% {transform:  scaleX(1) scaleY(1);}
    }
    @keyframes rotate-before {
        0% {transform:  scaleX(1) scaleY(1);}
        50% {transform:  scaleX(0.95) scaleY(0.85);}
        100% {transform:  scaleX(1) scaleY(1);}
    }
}
>>>>>>> d123f5b... add: mute from keys
html {
    box-sizing: border-box;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: Josefin Sans,
        sans-serif;
}

body {
    margin: 0;
    font-family: Josefin Sans,
        sans-serif;
}

h1 {
    font-family: inherit;
    font-weight: 300;
    color: black;
    margin: 1rem 0;
    text-align: center;
}

h3 {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 100;
}
<<<<<<< HEAD
h2{
    font-weight: 100;
}
=======
>>>>>>> 01b41c5... add:basic game

a {
    text-decoration: none;
}

header {
<<<<<<< HEAD
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.74);
    background-color: #e8bc78;
    background-image: linear-gradient(90deg, #e8bc78 0%, #aacbdc 100%);
    cursor: pointer;
    height: 6.5rem;
=======
    color: rgba(0, 0, 0, 0.555);
    background-color: #e8bc78;
    background-image: linear-gradient(90deg, #e8bc78 0%, #aacbdc 100%);
    display: flex;
    cursor: pointer;
    height: 6.5rem;
    align-items: center;
>>>>>>> 01b41c5... add:basic game
    border-bottom: 2px solid #c7c2c2;

    .logo {
        display: flex;
        flex-grow: 1;
        justify-content: center;

        .icon {
            transform: rotate(20deg);
            font-size: 2rem;
        }
    }

    .icon {
        font-size: 3.2rem;
        margin: 0 0.5rem;
    }
}
<<<<<<< HEAD
.fullscreen-enabled {
    background: rgb(255, 255, 255);
}
.container {
    margin: 0 15rem;
=======

.container {
    margin: 0 9rem;
>>>>>>> 01b41c5... add:basic game
    display: flex;
    justify-content: space-around;
    height: 100%;
    flex-direction: column;

    .result {
        display: flex;
        justify-content: space-around;
<<<<<<< HEAD
        .counter{
            font-size: 3rem;
            font-weight: 200;
            margin: auto 0;
        }
=======
>>>>>>> 01b41c5... add:basic game
    }

    .players {
        display: flex;
        justify-content: space-around;
<<<<<<< HEAD
=======

>>>>>>> 01b41c5... add:basic game
        .result-header {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 15rem;
<<<<<<< HEAD
            &:first-child{
            text-transform: uppercase;
                h3{
                font-weight: 300;
                }
            }
=======

>>>>>>> 01b41c5... add:basic game
            span {
                font-size: 2rem;
                font-weight: 200;
            }
        }
    }

    .options {
        display: flex;
        flex-direction: column;
        align-items: center;
<<<<<<< HEAD
        
        span {
            font-size: 6.2rem;
=======

        span {
            font-size: 4.2rem;
>>>>>>> 01b41c5... add:basic game
            margin: 0 0.5rem;
            cursor: pointer;

            &:first-child:hover {
                transform: scale(1.3);
            }

            &:last-child:hover,
            &:nth-child(2):hover {
                transform: rotate(7deg);
            }
        }
<<<<<<< HEAD
        &.icons-hard span{
            font-size: 5rem;
        }
=======
>>>>>>> 01b41c5... add:basic game
    }

}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> d123f5b... add: mute from keys
.score{
    position: absolute;
    text-align: center;
    padding: 1rem;
<<<<<<< HEAD
    width: auto;
    min-width: 14rem;
    height: 10rem;
=======
    width: 13rem;
    height: 9rem;
>>>>>>> 0bf1a78... add: change-level button
    bottom: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    letter-spacing: 1.5px;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 0px 8px 10px rgba(147, 153, 150, 0.4);
    transition: all 0.3s ease 0s;
    z-index: 2;
    &:hover{
        box-shadow: 0px 1px 6px rgba(147, 153, 150, 0.4);
        transform: translateY(7px);
    }
    cursor: pointer;
        h2{
        font-size: 3rem;
        margin: 0;
        }
        .comment{
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 400;
        font-size: 1.2rem;

        }
        .again{
        color: #ff3d6f;
        font-weight: 400;
        cursor: pointer;
        margin: 0;
        }
    }


.human-choice{
    @include answer(#ddbf8a);
    &.winner {
        @include cardAnimation(#ddbf8a);
    }
}
.comp-choice{
    @include answer(#afcad4);
    &.winner {
        @include cardAnimation(#afcad4);
    }
<<<<<<< HEAD
}
.full-screen{
    position: absolute;
    font-size: 2rem;
    bottom: 1rem;
    left: 1rem;
    color: #b0c9d2;
    box-shadow: 1px 2px 3px #c8c3c3;
    cursor: pointer;
=======
>>>>>>> d123f5b... add: mute from keys
}

//картинки-карты игровые
.human-choice,
.comp-choice {
    @include card();
<<<<<<< HEAD
=======
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


}



//картинки-карты игровые
.human-choice,
.comp-choice {
    @include card(translateY(1rem));

>>>>>>> 01b41c5... add:basic game
=======
>>>>>>> d123f5b... add: mute from keys
    span {
        @include caption();
    }
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 0bf1a78... add: change-level button
.back{
    width: 9rem;
    height: 3.2rem;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0 7px 9px  rgba(147, 153, 150, 0.4);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    position: absolute;
<<<<<<< HEAD
=======
    left: 6;
>>>>>>> 0bf1a78... add: change-level button
    left: 3rem;
    &:hover {
        background-color:#f3b543c7;
        box-shadow: 0px 2px 9px rgba(147, 153, 150, 0.4);
        color: #fff;
        transform: translateY(7px);
    }
}
<<<<<<< HEAD
=======

.paper {
    @include icon('../images/hand-paper2.png');

    &.comp {
        transform: translate3d(0, 1in, 0);
    }
}


.scissors {
    @include icon('../images/sci-hand.png');
    position: relative;


    &.comp {
        transform: translate3d(-1rem, 1in, 0);

        &:before {
            content: 'scissors';
        }
    }
}

.rock {
    @include icon('../images/fist.png');

    &.comp {
        transform: translate3d(0, 1in, 0);
    }
}



>>>>>>> 01b41c5... add:basic game
=======
>>>>>>> 0bf1a78... add: change-level button
.buttons-start {
    .main-screen {
        display: flex;
        position: relative;
<<<<<<< HEAD
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 3rem 5rem;
        height: 100%;
=======
        align-items: center;
        text-align: center;
        justify-content: center;
        height: calc(100vh - 5rem);

>>>>>>> 01b41c5... add:basic game
        &:before {
            content: '';
            position: absolute;
            background-color: #c7c2c2;
            width: 2px;
            height: 500px;
        }
<<<<<<< HEAD
        .name-input{
            margin-bottom: 3rem;
            border: none;
            box-sizing: 3px 3px 3px black;
            box-shadow: 0px 3px 9px #aba4a4ab;
            padding: 0.4rem;
            border-radius: 0.5rem;
            text-align: center;
            font-size: 1rem;
            outline: none;
            font-weight: 500;
            letter-spacing: 0.11rem;
            text-transform: uppercase;
        }
        .start-options{
            display: flex;
            flex-direction: row;
            .start-easy,
            .start-hard {
                display: flex;
                align-items: center;
            }

            .button-icons {
                display: flex;
                flex-direction: column;

                span {
                    font-size: 5rem;
                }
            }
            .start {
                text-decoration: none;
                outline: none;
                display: inline-block;
                padding: 1.5rem 3rem;
                margin: 1rem 5rem;
                text-transform: uppercase;
                letter-spacing: 2.5px;
                background-color: #fff;
                border: none;
                border-radius: 45px;
                box-shadow: 0 5px 10px  rgba(147, 153, 150, 0.4);
                transition: all 0.3s ease 0s;
                cursor: pointer;
                outline: none;

                &:hover {
                    background-color:#f3b543c7;
                    box-shadow: 0px 2px 9px rgba(147, 153, 150, 0.4);
                    color: #fff;
                    transform: translateY(7px);
                }
                &.hard:hover {
                    background-image: url('../images/bbth.png');
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                }
            }

            .start-hard {
                .button-icons {
                    position: relative;
                    &::before {
                        content: 'For true fans of The Big Bang Theory!';
                        position: absolute;
                        top: 2rem;
                        left: 6rem;
                        width: 14rem;
                        padding: 1em;
                        background: #fff;
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
                        text-align: center;
                        -webkit-transform: rotate(5deg) translate(-1em, 1em);
                        transform: rotate(5deg) translate(-1em, 1em);
                        border-top: 5px solid #da513d;
                        border-bottom: 5px solid #ddd;
                    }
                }
                .info-hard{
                    span{
                        position: relative;
                        border-radius: 50%;
                        font-size: 1.5rem;
                        font-weight: 700;
                        background-color: #e8cd9069;
                        padding: 1rem;
                        width: 3.5rem;
                        height: 3.5rem;
                        color: #526060;
                        position: absolute;
                        top: 0;
                        right: -4rem;
                        z-index: 2;
                        animation: spinning 5s linear infinite;
                        @keyframes spinning {
                            from {
                                transform: rotate(0deg);
                            }
                            to {
                                transform: rotate(360deg);
                            }
                        }
                        &:hover{
                            transform: scale(1.2);
                            animation: stop;
                        }
                    }   
                    .info{
                        width: 15rem;
                        font-weight: 300;
                        font-size: 1rem;
                        color: black;
                        background: white;
                        text-align: justify;
                        position: absolute;
                        border: 1px solid #da513d;
                        right: -2rem;
                        padding: 1rem;
                        z-index: 3;
                        top: -2rem;
                        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
                        line-height: 1.1rem;
                        a{
                            color: black;
                        }
                    }
                }
            }
        }
    }
}
.fullscreen{
    &.fullscreen-enabled{
        background-color: #f9f9f9;
        h1{
            margin: 3rem;
            font-weight: 300;;
        }
        .full-screen{
        bottom: 2rem;
        }
    }
}
.footer{
    position: absolute;
    bottom: 0.3rem;
    transform: translateX(-50%);
    left: 50%;
    align-items: center;
    display: flex;
    a{
        text-decoration: none;
        color:black;
        cursor: pointer;
    }
}
@media screen and (max-width: 1200px){
    .buttons-start{
        .main-screen{
            .start-hard{
                position: relative;
                .button-icons{
                    position: unset;
                    &::before  {
                    left: 7rem;
                    top: 6rem;
                    }
                }     
            }
        }
    }
    .score{
        bottom:7rem;
    }
}
@media screen and (max-width: 825px){
    .buttons-start{
        .main-screen{
            margin: 1rem 2rem;
            flex-direction: column;
            &::before{
                top: 6rem;
                transform: rotate(65deg);
            }
        }
    }
    .back{
    font-size: 10px;
    left: 3rem;
    top: 7rem;
    }
}
@media screen and (max-width: 585px){
    header{
        .settings.icon{
            font-size: 2.2rem;
        }
    }
}
@media screen and (max-width: 500px){
    :root{
    font-size: 11px;
    }
    .back{
      left:1rem;
    }
    .container{
        margin: 0 5rem;
        .options{
            span{
                font-size: 8.2rem;
            }
            &.icons-hard{
                span{
                font-size: 6.2rem;
=======

        .start-easy,
        .start-hard {
            display: flex;
            align-items: center;
        }

        .button-icons {
            display: flex;
            flex-direction: column;

            span {
                font-size: 4rem;
            }
        }

        .start {
            text-decoration: none;
            outline: none;
            display: inline-block;
            padding: 2rem 3rem;
            margin: 1rem 5rem;
<<<<<<< HEAD
            border-color: rgba(196, 187, 187, 0.411);
            border-radius: 22px;
            box-shadow: 0 0 40px 40px #e5b976 inset,
                0 0 0 0 #e5b976;
            font-family: inherit;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 2px;
            color: white;
            transition: .15s ease-in-out;
=======
            text-transform: uppercase;
            letter-spacing: 2.5px;
            background-color: #fff;
            border: none;
            border-radius: 45px;
            box-shadow: 0 5px 10px  rgba(147, 153, 150, 0.4);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
>>>>>>> 0bf1a78... add: change-level button

            &:hover {
                background-color:#f3b543c7;
                box-shadow: 0px 2px 9px rgba(147, 153, 150, 0.4);
                color: #fff;
                transform: translateY(7px);
            }
            &.hard:hover {
                background-image: url('../images/bbth.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                color: black;
            }
        }

        .start-hard {
            .button-icons {
                position: relative;
                &::before {
                    content: 'Только на тру фэнс Теории Большого Взрыва!';
                    position: absolute;
                    top: 2rem;
                    left: 6rem;
                    width: 14rem;
                    padding: 1em;
                    background: #fff;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
                    text-align: center;
                    -webkit-transform: rotate(5deg) translate(-1em, 1em);
                    transform: rotate(5deg) translate(-1em, 1em);
                    border-top: 5px solid #da513d;
                    border-bottom: 5px solid #ddd;
>>>>>>> 01b41c5... add:basic game
                }
            }
            .info-hard{
                span{
                    position: relative;
                    border-radius: 50%;
                    font-size: 1.5rem;
                    font-weight: 700;
                    background-color: #e8cd9069;
                    padding: 1rem;
                    width: 3.5rem;
                    height: 3.5rem;
                    color: #526060;
                    position: absolute;
                    top: -4rem;
                    right: -4rem;
                    z-index: 2;
                    animation: spinning 5s linear infinite;
                    @keyframes spinning {
                        from {
                            transform: rotate(0deg);
                        }
                        to {
                            transform: rotate(360deg);
                        }
                    }
                    &:hover{
                        transform: scale(1.2);
                        animation: stop;
                    }
                }   
                .info{
                    opacity: 0;
                    width: 15rem;
                    font-weight: 300;
                    font-size: 1rem;
                    color: black;
                    background: white;
                    text-align: justify;
                    position: absolute;
                    border: 1px solid #da513d;
                    right: -2rem;
                    padding: 1rem;
                    z-index: 3;
                    top: -2rem;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
                    line-height: 1.1rem;
                    a{
                        color: black;
                    }
                }
            }
        }
    }
<<<<<<< HEAD
<<<<<<< HEAD
    .human-choice,
    .comp-choice{
        .answer{
        font-size: 8rem;
        }
    } 
    .score{
        bottom:0;
=======
}
@media screen and (max-width: 1200px){
    .buttons-start{
        .main-screen{
            .start-hard{
                position: relative;
                .button-icons{
                    position: unset;
                    &::before  {
                    left: 7rem;
                    top: 6rem;
                    }
                }     
            }
        }
    }
    .score{
        bottom:7rem;
>>>>>>> 0bf1a78... add: change-level button
    }
    .buttons-start{
        .main-screen{
            &::before{
                top: 0rem;
            }
        }
    }
<<<<<<< HEAD
    .start-hard {
        .info-hard{
            top: 0rem;
            right: -6rem;
=======
}
@media screen and (max-width: 585px){
    header{
        .settings.icon{
            font-size: 2.2rem;
        }
    }
}
@media screen and (max-width: 500px){
    :root{
    font-size: 10px;
    }
    .container{
        margin: 0 5rem;
    }
    .human-choice,
    .comp-choice{
        .answer{
        font-size: 8rem;
>>>>>>> 0bf1a78... add: change-level button
        }
    }
}
@media screen and (max-width: 310px){
    .container{
        margin: 0 2rem;
    }
    .human-choice,
    .comp-choice{
        .span{
        margin: 1rem 0 0 0;
        }
    } 
    .result{
        flex-direction: column;
        align-items: center;
    }
    .score{
    position: absolute;
    border: 2px solid #a59999;
    bottom: 0rem;
    padding: 1rem;
    width: 100%;
        h2{
        font-size: 3rem;
        }
    }
=======

>>>>>>> 01b41c5... add:basic game
}